.gallery-wrapper{
    margin: 0 auto;
    width: 800px;
    display:flex;
    align-items: center;
}
.gallery-viewport{
    width: 500px;

}
.gallery-viewport-fullscreen{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2ac9;
}
.gallery{    
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
.gallery-img{
    width: 200px;
    display: block;
    border: 1px solid black;
    margin: 5px;
}
.fullpage-img{
    max-height: 90vh;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
.fullpage-img-wrapper{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;    
}
.gallery-item{
    margin: 5px;
}
.vieport-wrapper{
    width: 500px;
}
.vieport-wrapper-fullscreen{
    height: 80%;
}
.viewport{
    height: 100%;
    width: 100%;
    display: block;

}
.img-views{
    margin-top: 20px;
}
.calc_form{
    margin: 0 auto;
    width: 385px;
    border: 10px ridge;
    display: flex;
    flex-wrap: wrap;

}
.oper_select{
    font-size: 32pt;
    height: 50px;
    margin: 10px;
    width: 100%;
}
.num_list{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    width: 250px;
    justify-content: space-around;
}
.operator_list{
    display: flex;
    flex-direction: column;
}
.numbutton, .oper_button{
    width: 50px;
    height: 50px;
    font-size: 32pt;
    margin: 10px;
}
.oper_field{
    
    display: flex;
    margin: 10px;
}

.hiden_oper_radio{
    display:none;
}
.oper_lbl{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: #efeded;
    font-size: 32pt;
    text-align: center;
}
.hiden_oper_radio:checked+.oper_lbl{
    background-color: #b3b0b0;
}
.oper_lbl:hover{
    background-color: #d4d0d0;
}
.calc_input{
    margin: 10px;
    height: 50px;
    width: 100%;
    font-size: 32pt;
    padding: 0 10px;
}
.result{
    margin: 10px;
    height: 50px;
    width: 270px;
    font-size: 32pt;
    padding: 0 10px;
}
.home_link{
    color: black;
    text-decoration: none;
    display: block;
    width: 100px;
    /* height: 25px; */
    background-color: lightgray;
    text-align: center;
    padding: 6px 0;
    margin: 10px;
}
.home_link:hover{
    background-color: darkgray;
}
.review_list{
    margin: 0 auto;
    border:1px solid black;
    height: 300px;
    width: 400px;
    background-color: darkgray;
    overflow: auto;
    margin-bottom: 10px;
    
}
.new_review_form{
    margin: 0 auto;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
}
.review_wrapper{
    background-color: beige;
    margin: 5px;
    padding: 10px;
}
.review_author, .review_author_mail{
    border: 1px solid gray;
    padding: 5px;
}
.review_author::before{
    content: "Автор: ";

}
.review_author_mail::before{
    content: "E-mail: ";
}
.review_text{
    background-color: white;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    box-sizing: border-box;
}