{% include 'header.twig' %}
<div class="fullpage-img-wrapper">
    <img id="{{ image.id }}" src="{{ image.src }}" class="fullpage-img">
        {# <div class="img-views">".$img_data['views']." Views</div> #}
    </div>

{% include 'footer.twig' %}